            
              
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>Pagina Principal
                                           
                                        </h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                    <!-- BEGIN PAGE TOOLBAR -->
                                  
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    <!-- BEGIN PAGE BREADCRUMBS -->
                                   
                                    <!-- END PAGE BREADCRUMBS -->
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">
                                        <div class="mt-content-body">
                                          
                                                <!-- El container para todo :V -->
                                                <div class="col-md-12 col-sm-12">
                                                   <div class="portlet light ">
                                                    <div class="portlet-title">
                                                        <div class="caption font-green-haze">
                                                            <i class="icon-settings font-green-haze"></i>
                                                            <span class="caption-subject bold uppercase">Busqueda</span>
                                                        </div>
                                                        
                                                    </div>
                                                       <div class="portlet-body form">
                                                           <form role="form">
                                                               <div class="form-body">
                                                                   <div class="form-group col-md-12  ">
                                                                       <label for="form_control_1">Entidad Compradora</label>
                                                                       <select class="form-control edited" id="form_control_1">
                                                                           <option value=""></option>
                                                                           <option value="1" selected>Option 1</option>
                                                                           <option value="2">Option 2</option>
                                                                           <option value="3">Option 3</option>
                                                                           <option value="4">Option 4</option>
                                                                       </select>

                                                                   </div>
                                                                   <div class="">
                                                                       <div class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Producto o Servicio</label>
                                                                           <select class="form-control edited" id="form_control_1">
                                                                               <option value=""></option>
                                                                               <option value="1" selected>Option 1</option>
                                                                               <option value="2">Option 2</option>
                                                                               <option value="3">Option 3</option>
                                                                               <option value="4">Option 4</option>
                                                                           </select>

                                                                       </div>
                                                                       <div class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Número de Proceso</label>
                                                                           <input type="text" class="form-control" id="form_control_1">
                                                                       </div>
                                                                   </div>
                                                                   <div class="">
                                                                       <div style="" class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Modalidad de Contratación</label>
                                                                           <select class="form-control edited" id="form_control_1">
                                                                               <option value=""></option>
                                                                               <option value="1" selected>Option 1</option>
                                                                               <option value="2">Option 2</option>
                                                                               <option value="3">Option 3</option>
                                                                               <option value="4">Option 4</option>
                                                                           </select>

                                                                       </div>
                                                                       <div class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Estado</label>
                                                                           <select class="form-control edited" id="form_control_1">
                                                                               <option value=""></option>
                                                                               <option value="1" selected>Option 1</option>
                                                                               <option value="2">Option 2</option>
                                                                               <option value="3">Option 3</option>
                                                                               <option value="4">Option 4</option>
                                                                           </select>

                                                                       </div>
                                                                   </div>
                                                                   <div class="">
                                                                       <div style="" class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Departamento de ejecución</label>
                                                                           <select class="form-control edited" id="form_control_1">
                                                                               <option value=""></option>
                                                                               <option value="1" selected>Option 1</option>
                                                                               <option value="2">Option 2</option>
                                                                               <option value="3">Option 3</option>
                                                                               <option value="4">Option 4</option>
                                                                           </select>

                                                                       </div>
                                                                       <div class="form-group col-md-6 ">
                                                                           <label for="form_control_1">Municipio</label>
                                                                           <select class="form-control edited" id="form_control_1">
                                                                               <option value=""></option>
                                                                               <option value="1" selected>Option 1</option>
                                                                               <option value="2">Option 2</option>
                                                                               <option value="3">Option 3</option>
                                                                               <option value="4">Option 4</option>
                                                                           </select>

                                                                       </div>
                                                                   </div>
                                                                   <div class="">
                                                                       <div style="" class="form-group col-md-6 ">
                                                                           <label class="control-label ">Fecha Desde</label>
                                                                           <input class="form-control form-control-inline date-picker" type="text" placeholder="Dia/Mes/Año" />
                                                                       </div>

                                                                   </div>
                                                                   <div class="form-group col-md-6 ">
                                                                       <label class="control-label ">Fecha Desde</label>
                                                                       <input class="form-control form-control-inline date-picker" type="text" placeholder="Dia/Mes/Año" />

                                                                   </div>
                                                               </div>
                                                               <div class="">
                                                                   <div class="form-group col-md-6 ">
                                                                       <label for="form_control_1">Cuantía</label>
                                                                       <select class="form-control edited" id="form_control_1">
                                                                           <option value=""></option>
                                                                           <option value="1" selected>Option 1</option>
                                                                           <option value="2">Option 2</option>
                                                                           <option value="3">Option 3</option>
                                                                           <option value="4">Option 4</option>
                                                                       </select>
                                                                   </div>
                                                                   <div class="form-group col-md-6 ">
                                                                       <label for="form_control_1">Resultados por Página</label>
                                                                       <select class="form-control edited" id="form_control_1">
                                                                           <option value=""></option>
                                                                           <option value="1" selected>Option 1</option>
                                                                           <option value="2">Option 2</option>
                                                                           <option value="3">Option 3</option>
                                                                           <option value="4">Option 4</option>
                                                                       </select>
                                                                   </div>
                                                               </div>

                                                               <div class="form-actions ">
                                                                   <button type="button" class="btn blue" style="margin-left:90%; ">Buscar</button>
                                                               </div>
                                                           </form>
                                                       </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                        <!-- BEGIN QUICK SIDEBAR -->
                        <a href="javascript:;" class="page-quick-sidebar-toggler">
                            <i class="icon-login"></i>
                        </a>
                      
                                   
                                </div>
                            </div>
                    
                        
                     